<!-- <section class="vh-1000 bg-image" style="background-image: url('https://img.freepik.com/free-photo/abstract-blur-hospital-clinic-interior_1203-7890.jpg?w=2000');"> -->
  <div class="banner">

    <h1 >Hospital Billing System</h1>
        <div class="row">
          <div class="col-md-5">
            <form autocomplete="off" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
              <table text="center" width="205%" cellpadding="30" cellspacing="0">
              <tr>
                <td>
              <!--ID-->
              <div class="mb-2">
                <label>Patient ID</label>
                <input type="text" name="id" class="form-control"
                  [(ngModel)]="patientsService.patientData.id" #id="ngModel" required
                  [class.is-invalid]="id.invalid && id.touched">
              </div>

              <!--Validations-->
              <div *ngIf="myForm.submitted || id.touched && id.invalid">
              <div class="text-danger" *ngIf="id.errors?.['required']">Patient ID is Mandatory</div>
            </div>
      <td>
                <!-- name  -->
        <div class="mb-2">
          <label> Name</label>
          <input type="text" name="name" class="form-control"
        [(ngModel)]="patientsService.patientData.name" #name="ngModel" autocomplete="off"
        required minlength="3" pattern="^[a-zA-Z ]{1,30}$"
        [class.is-invalid]="name.touched && name.invalid">
      </div>
      <!--Validation-->
      <div *ngIf="myForm.submitted || name.touched && name.invalid">
        <div class="text-danger" *ngIf="name.errors?.['required']">
         Name is mandatory</div>
         </div>
      </td>
    </tr>
  <tr>
    <td>
     <!-- age -->
     <div class="mb-2">
      <label>Age</label>
      <input type="text" name="age" class="form-control" [(ngModel)]="patientsService.patientData.age"
        #age="ngModel" required [class.is-invalid]="age.invalid && age.touched">
    </div>
      <!-- validation  -->
      <div *ngIf="myForm.submitted || age.touched && age.invalid">
        <div class="text-danger" *ngIf="age.errors?.['required']">
         Age is mandatory</div>
        </div>
        </td>
        <td>
         <!-- address  -->
        <div class="mb-2">
          <label>Address</label>
          <input type="text" name="address" class="form-control"
            [(ngModel)]="patientsService.patientData.address" #address="ngModel" required
            [class.is-invalid]="address.invalid && address.touched">
        </div>
        <!-- validation  -->
        <div *ngIf="myForm.submitted || age.touched && age.invalid">
          <div class="text-danger" *ngIf="age.errors?.['required']">
           Address is mandatory</div>
          </div>
    </td>
  </tr>
  <tr>
    <td>
     <!-- email -->
     <div class="mb-2">
      <label>Email ID</label>
      <input type="email" class="form-control" name="emailId"
    [(ngModel)]="patientsService.patientData.emailId" #emailId="ngModel"
    autocomplete="off" required  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
    [class.is-invalid]="emailId.touched && emailId.invalid">
  </div>
  <!--Validation-->
  <div *ngIf="myForm.submitted || emailId.touched && emailId.invalid">
    <div class="text-danger" *ngIf="emailId.errors?.['required']">
    Email ID is Mandatory</div>
    </div>
    </td>
    <td>
  <!-- date of admission -->
  <div class="mb-2">
    <label>Date of Admission</label>
    <input type="datetime" name="admissionDate" class="form-control" [(ngModel)]="patientsService.patientData.admissionDate"
      #admissionDate="ngModel" required [class.is-invalid]="admissionDate.invalid && admissionDate.touched">
  </div>
  </tr>
  <tr>
    <td>
  <div class="mb-2">
    <button type="submit"  class="btn btn-dark">Submit</button>
    <button type="reset" class="btn btn-danger mx-2">Reset</button>
  </div>
    </td>
  </tr>
  </table>
      </form>
    </div>
  </div>
  </div>
  <!-- </section> -->
